<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <link rel="stylesheet" href="../stylesheets/estilo.css" />
    <script src="../javascripts/meumain3.js"></script>
    <script src="../javascripts/peer.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script>
        var socket = io('http://104.131.163.197:3000');
        //var socket = io.connect('http://localhost:3000');
        var url = document.location.href;

        var valor = url.split('/');
        var idPaciente = valor[valor.length - 1];

        function enviarMsg() {
            var mensagem = document.getElementById("textmesssagem").value;
            $(".chatMessages").append("<li class='msgvc'><b>Você: </b>" + mensagem + "</li>");
            socket.emit('msgAtendente', url, mensagem)
        }


        socket.on('msgToAtendente' + idPaciente, function (msg) {
            $(".chatMessages").append("<li class='msgpaciente'><b>Paciente: </b>" + msg + "</li>");
        });


        function ligar() {
            socket.emit('conectar', url);
        }

        function cima() {
            socket.emit('cima', url);
        };

        function baixo() {
            socket.emit('baixo', url);
        };

        function direita() {
            socket.emit('direita', url);
        };

        function esquerda() {
            socket.emit('esquerda', url);
        };

        function parar() {
            socket.emit('parar', url);
        }
    </script>
</head>
<script>
    var tempInicial;
    $(document).ready(function () {
        tempInicial = new Date().getTime();
    });

    window.onbeforeunload = exitSalvar;

    function exitSalvar() {
        var tempFinal = new Date().getTime();
        msToTime(tempFinal);
        var tempDiferenca = tempFinal - tempInicial;
        var url = document.location.href;
        var nota = document.getElementById('nota').value;
        var time = new Date().getTime();
        var data = new Date(time);

        tempDiferenca = msToTime(tempDiferenca);
        tempFinal = msToTime(tempFinal);
        tempInicial = msToTime(tempInicial);

        var param = { nota: nota, url: url, tempDiferenca: tempDiferenca, tempInicial: tempInicial, tempFinal: tempFinal, data: data };
        $.post('/cadastrarhistoricodeacesso', param, function (data) {
            message = JSON.parse(data);
        });
    }

    function msToTime(duration) {
        var milliseconds = parseInt((duration % 1000) / 100)
            , seconds = parseInt((duration / 1000) % 60)
            , minutes = parseInt((duration / (1000 * 60)) % 60)
            , hours = parseInt((duration / (1000 * 60 * 60)) % 24);

        hours = (hours < 10) ? "0" + hours : hours;
        minutes = (minutes < 10) ? "0" + minutes : minutes;
        seconds = (seconds < 10) ? "0" + seconds : seconds;

        return hours + ":" + minutes + ":" + seconds + "." + milliseconds;
    }


    function salvarAtendimento() {
        var tipoAtendimento = document.getElementById('tipoatendimento').value;
        var atendimento = document.getElementById('atendimento').value;
        var time = new Date().getTime();
        var data = new Date(time);
        var url = document.location.href;
        var param = { tipoAtendimento: tipoAtendimento, atendimento: atendimento, data: data, url: url };
        $.post('/cadastraratendimento', param, function (data) {
            message = JSON.parse(data);
            alert(message.message);
        });
    }

    function atualizaNota() {
        alert("Nota atualizada do acesso");
    }



    function telaInteira() {
        var elem = document.getElementById("remote-video");
        if (elem.requestFullscreen) {
            elem.requestFullscreen();
        } else if (elem.mozRequestFullScreen) {
            elem.mozRequestFullScreen();
        } else if (elem.webkitRequestFullscreen) {
            elem.webkitRequestFullscreen();
        }
    }

    function telaInteiraLocal() {
        var elem = document.getElementById("local-video");
        if (elem.requestFullscreen) {
            elem.requestFullscreen();
        } else if (elem.mozRequestFullScreen) {
            elem.mozRequestFullScreen();
        } else if (elem.webkitRequestFullscreen) {
            elem.webkitRequestFullscreen();
        }
    }

</script>
<body>
    <% if(user.adm){ %>
    <% include headeracessarpaciente.ejs %>
    <% } else { %>
    <% include header2acessarpaciente.ejs %>
    <% } %>
    <div class="col-sm-0 col-md-1 col-lg-1 col-xs-0 "></div>
    <div class="col-sm-12 col-md-10 col-lg-10 col-xs-12 conteudo">



        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion">
                    <div class="panel ">
                        <div class="emcimatitulo">
                            <h4 class="titulo"> Atendimento
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <span class="glyphicon glyphicon-file" style="color:white">
                                </a>
                            </h4>
                        </div>

                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-8 columnremote">
                                            <!--<video id="remote-video" width="40%" class="video" autoplay></video> -->
                                            <video id="remote-video" width="100%" height="50%" controls class="video backgroundvideo" autoplay></video>
                                            <div class="col-lg-12 col-md-12 ">
                                                <h3 class="panel-title">Cadastrar Atendimento</h3>
                                                <div class="form-group col-lg-3 col-md-3"></div>
                                                <div class="form-group col-lg-6 col-md-6">
                                                    <select class="form-control" name="tipoatendimento" id="tipoatendimento">
                                                        <option value="parecer">Parecer</option>
                                                        <option value="relatório">Relatório</option>
                                                        <option value="descrição">Descrição</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-3"></div>

                                            <div class="form-group col-lg-12 col-md-12">
                                                <textarea class="form-control" id="atendimento" name="atendimento" rows="5" placeholder="Registrar atendimento"></textarea>
                                            </div>


                                            <div class="col-lg-12 col-md-12">

                                                <button class="button" id="connect" onclick="ligar()">Ligar</button>

                                            </div>

                                        
                                        <div class="form-group col-lg-3 col-md-3"></div>
                                        <div class="form-group col-lg-6 col-md-6">
                                            Qualidade do Vídeo
                                <select class="form-control" name="nota" onchange="atualizaNota()" id="nota">
                                    <option value="Sem nota">Escolha uma nota</option>
                                    <option value="Excelente">Excelente</option>
                                    <option value="Bom">Bom</option>
                                    <option value="Médio">Médio</option>
                                    <option value="Ruim">Ruim</option>
                                    <option value="Pessimo">Péssimo</option>
                                </select>
                                        </div>
                                        <div class="form-group col-lg-3 col-md-3"></div>





                                    </div>
                                    <div class="col-md-4 columnlocal">
                                        <video id="local-video" width="100%" height="50%" controls class="video backgroundvideo" autoplay></video>

                                        <div class="col-md-12">
                                            <div align="center">
                                                <button type="button" class="btn btn-default" onclick="cima()" aria-label="Left Align">
                                                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button type="button" class="btn btn-default" onclick="esquerda()" aria-label="Left Align">
                                                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                                </button>
                                                <button type="button" class="btn btn-default" onclick="parar()" aria-label="Left Align">
                                                    <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                                                </button>
                                                <button type="button" class="btn btn-default" onclick="direita()" aria-label="Left Align">
                                                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                                                </button>
                                            </div>
                                            <div class="col-md-12">
                                                <div align="center">
                                                    <button type="button" class="btn btn-default" onclick="baixo()" aria-label="Left Align">
                                                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                            <div class="chatContainer">
                                                <div class="chatHeadter">
                                                    <h5 class="panel-title">Mensagens</h5>
                                                </div>
                                                <div class="chatMessages"></div>
                                                <div class="chatBottom">
                                                    <form action="" onsubmit="" id="">
                                                        <input type="text" name="textmesssagem" id="textmesssagem" placeholder="digite sua mensagem" />
                                                        <input type="Button" onclick="enviarMsg()" value="Enviar" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        </div>



                                    </div>
                                </div>
                            

                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    
                                    <div id="messages" style="color:white"></div>

                                    

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
        
    </div>
</body>

</html>
