<html>
<head>
    Controlar Robo
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <meta name="viewport" content="width=device-width, initial-scale=1">    

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <style>
        .left-side {
            background-color: #fcfcff;
            float: none;
            display: table-cell;
        }

        .right-side {
            float: none;
            display: table-cell;
        }

        body {
            background-color: #e2e2e2;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">

                <a class="navbar-brand" href="#">Plataforma Pia Robo</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Cadastro de Usuário e Robos</a></li>
                    <li><a href="#">Histórico</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-md-3 col-xs-1 left-side">
                <ul class="nav nav-sidebar">
                    <li><a href="#">Overview </a></li>
                    <li><a href="#">Reports</a></li>
                    <li><a href="#">Analytics</a></li>
                    <li><a href="#">Export</a></li>
                </ul>

            </div>
            <div class="col-md-9 main right-side">
                <form class="form-signin" action="/cadastrarrobo" method="post" >
                    

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                <span class="glyphicon glyphicon-file page-header">
                                                </span>Cadastro do Robo
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <% 
                                                        
                                                         %>
                                                        <input type="text" id="nome" name="nome" value="<%= robo.nome %>" class="form-control" placeholder="Nome do Robo" required />
                                                    </div>
                                                    <div class="form-group">
                                                        <textarea class="form-control" id="descricao"  name="descricao" placeholder="Content" rows="5" placeholder="Descricao" required><%=robo.descricao%></textarea>
                                                    </div>
                                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
                                                    <%   %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
                <!--<label for="inputNome" class="sr-only">Nome</label>
                                                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome do robo" required autofocus>


                                                        <label for="inputDescricao" class="sr-only">Password</label>
                                                        <input type="text" name="descricao" class="form-control" id="descricao" class="form-control" placeholder="Descricao" required>

                                                        <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>

                            </form>
                        </div>
                    </div>
                </div>-->
</body>



</html>