<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="#">Plataforma Pia Robo</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Cadastrar Paciente</a></li>
                <!-- Lista robos para o histórico de acesso -->
                <li><a href="/">Histórico</a></li> 
            </ul>
        </div>
    </div>
</nav>


<div class="row col-md-3 col-sm-3 col-lg-3 col-xs-3">
    <div class="col-sm-1 col-md-1 col-lg-1 col-xs-1 left-side">
        <ul class="nav nav-sidebar">            
            <!--
                A diferença entre o ADM e o Usuário é que o user não consegue adicionar robos
                e tbm não consegue cadastrar e listar users.

                ADD paracer -> listarPacientes -> botao parecer
                Para enviar paracer o user deve listar os paciente e entrar no paciente específico e clicar no botão adicionar Paracer
                ADD nota -> listarPaciente -> dar nota
                Comando via ajax;
                -->
            <li><a href="#">Listar Pacientes</a></li>
            <li><a href="listarpacientes">Listar Pacientes</a></li>
            <li><a href="#">Listar Usuários</a></li>
            <li><a href="listarrobos">Listar Robos</a></li>
            <li><a href="cadastrarpaciente">Cadastrar Paciente</a></li>
            <li><a href="#">Cadastrar Usuário</a></li>
            <li><a href="cadastrarrobo">Cadastrar Robo</a></li>

        </ul>
    </div>
</div>
