<html>
<head>
    Controlar Robo
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
   <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <style>
        .left-side {
            background-color: #fcfcff;
            float: none;
            display: table-cell;
            /*width: 20%;*/
        }

        .right-side {
            float: none;
            display: table-cell;
            /*/width: 80%;*/
        }

        table {
            width: 100%;
        }

        body {
            background-color: #e2e2e2;
        }
    </style>
</head>
<body>

    <% include header.ejs %>      

    
        <div class="row col-md-12 col-sm-12 col-lg-12 col-xs-12">
            
      
            <div class="col-sm-5 col-md-5 col-lg-5  col-xs-5  right-side">
                <div class="panel panel-default">
                <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                <span class="glyphicon glyphicon-file page-header">
                                                </span>Lista de robos Cadastrados
                                            </a>
                                        </h4>
                                    </div>
               <div class="bs-example">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-3">Nome</th>     
                            <th class="col-md-2">Atendente</th>      
                            <th class="col-md-1">Robo</th>     
                            <th class="col-md-1">Telefone </th>                  
                            <th class="col-md-1">Editar</th>    
                            <th class="col-md-1">Acessar</th>               
                           
                        </tr>
                    </thead>
                    <tbody>
                    <% 
                        
                        pacientes.forEach(function(paciente) { %>
                   <tr>
                         <td> <%= paciente.nome %> </td>
                       <td>
                           
                           <select class="form-control" name="atendente" id="atendente">
                               
                               <option value="">Teste</option>
                               </select>
                           
                       </td>
                        <td> <%= paciente.robo %> </td>                  
                       <td> <%= paciente.telefone %> </td>                  

                    <td>
                        <button type="button" class="btn btn-default"  onclick="location.href = './atualizarpaciente/<%= paciente._id%>'"  aria-label="Left Align">
                       <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                     </button>
                    </td>   

                       <td>
                        <button type="button" class="btn btn-default"  onclick="location.href = './camera%>'"  aria-label="Left Align">
                       <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                     </button>
                    </td>   
                   
                       </tr>
               <% }); 
                        %>
                    </tdbody>
                </table>
                  
                    </div>
                    
               
            </div>
        </div>
    </div>
</body>



</html>
