<html>
<head>
    Controlar Robo
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script> -->
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/estilo.css" />
</head>
<body>
    <% include header.ejs %>      

    
        <div class="row col-md-12 col-sm-12 col-lg-12 col-xs-12">

            <div class="col-sm-5 col-md-5 col-lg-5  col-xs-5  right-side">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-file page-header"></span>Lista de Usuários Cadastrados
                            </a>
                        </h4>
                    </div>
                    <div class="bs-example">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-3">Nome</th>
                                    <th class="col-md-2">Telefone</th>
                                    <th class="col-md-1">Epecialização</th>
                                    <th class="col-md-1">Administrador </th>
                                    <th class="col-md-1">Editar</th>


                                </tr>
                            </thead>
                            <tbody>
                                <% 
                      if(!dados != 'undefined') {
                        dados.forEach(function(atendente) { %>
                   <tr>
                       <td><%= atendente.nome %> </td>
                       <td><%= atendente.telefone%> </td>
                       <td><%= atendente.especialização %> </td>
                       <td><% if (atendente.administrador) { %>
                           <input type="checkbox" checked />
                           <% }else{ %>
                           <input type="checkbox" />
                           <% }  %>
                       </td>

                       <td>
                           <button type="button" class="btn btn-default" onclick="location.href = './cadastraruser/<%= atendente._id%>'" aria-label="Left Align">
                               <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                           </button>
                       </td>
                   </tr>
                                <% }); }%>
                            </tbody>
                        </table>

                    </div>


                </div>
            </div>
        </div>
</body>



</html>
