<html>
<head>
    <title>Plataforma Pia Robo</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <link rel="stylesheet" href="../stylesheets/estilo.css" />
    <script src="../javascripts/getpacientes.js" ></script> 
</head>
<body>
    <% include header.ejs %>      
    <div class="col-sm-1 col-md-1 col-lg-1 col-xs-1 "></div>
    <div class="col-sm-12 col-md-10 col-lg-10 col-xs-12 conteudo">
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <span class="glyphicon glyphicon-file page-header"></span>Lista de Pacientes cadastrados
                    </a>
                </h4>
            </div>
            <script>
                if (message) {
                    document.write('<div class="alert alert-succes" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>Cadastrado</div>');
                    alert(message);
                }
            </script>

            <div class="bs-example">
                <table class="table table-hover" id="lista">
                    <thead>
                        <tr>
                            <th class="col-md-2">Nome</th>
                            <th class="col-md-2">Atendente</th>
                            <th class="col-md-2">Robo</th>
                            <th class="col-md-2">Telefone </th>
                            <th class="col-md-1">Editar</th>
                            <th class="col-md-1">Acessar</th>

                        </tr>
                    </thead>
                    <tbody id="tbody">

                        <tr id="linha">
                            <td>
                                <div id="nome" />
                            </td>
                            <td>atendente</td>
                            <td>
                                <div id="robo"></div>
                            </td>


                            <td>
                                <button type="button" class="btn btn-default" onclick="location.href = './atualizarpaciente/'" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </button>
                            </td>

                            <td>
                                <button type="button" class="btn btn-default" onclick="location.href = './camera'" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                </button>
                            </td>

                        </tr>

                    </tbody>
                </table>

            </div>


        </div>
</body>



</html>
