<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/estilo.css" />

</head>
    <script>
        var email
        $(document).ready(function () {
            var url = document.location.href;
            email = document.getElementById('email');
            url = url.split('/');
            var tam = url.length;
            $("#password").prop('disabled', true);
           


        });

        function functionEditarSenha() {
            var altsenha = document.querySelector('#senha');
            if ($(altsenha).is(':checked')) {
                $("#password").prop('disabled', false);
            }
            else {
                $("#password").prop('disabled', true);
            }
        }

        function verificaEmail() {
            var email = document.getElementById('email').value
            var idUser = document.getElementById('id').value;
            var param = { idUser: idUser, email: email };
            $.post('/verficaremailuser2', param, function (data) {
                resposta = JSON.parse(data);
                if (resposta.message == "false") {
                    $('#email').val('');
                    alert("Este email já foi cadastrado");
                }
            });
        }



    </script>
<body>
    <% include header2.ejs %>
    <div class="col-sm-0 col-md-1 col-lg-1 col-xs-0 "></div>
    <div class="col-sm-12 col-md-10 col-lg-10 col-xs-12 conteudo">
        <form class="form-signin" action="/usercadastrarpaciente" method="post">


            <div class="row">
                <div class="col-md-12">
                    <div class="panel-group" id="accordion">
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        <span class="glyphicon glyphicon-file page-header"></span>Perfil
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="col-lg-12">
                                                <tr>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="text" id="nome" name="nome" class="form-control" placeholder="Nome do Usuário" required />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="password" id="password" name="password" class="form-control" placeholder="Sennha" required />
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="email" id="email" name="email" class="form-control" placeholder="Email de Login" required />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="tel" id="telefone" name="telefone" class="form-control" placeholder="Telefone" required />
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <div class="form-group">
                                                <input type="file" name="foto" />
                                            </div>

                                            <div class="form-group">
                                                <select class="form-control" name="especializacao" id="especializacao">
                                                    <option value="psicologo">Psicólogo</option>
                                                    <option value="fonodiologo">Fonodiólogo</option>
                                                    <option value="medico">Médico</option>
                                                    <option value="Assistente Social">Assistente Social</option>

                                                </select>
                                            </div>

                                            <button class="button" type="submit">Salvar</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>
