script(src='/socket.io/socket.io.js')
p
    | N&uacute;mero de visitas: 
      span#visitas 0
video(width='400', controls='')
    p
	    button#capture-button2 Capture video
		    button#stop-button2 Stop