.left-side {
    background-color: #fcfcff;
    float: none;
    display: table-cell;
    /*width: 20%;*/
}

.right-side {
    float: none;
    display: table-cell;
    /*/width: 80%;*/
}

.conteudo {
    margin-top:5px;
    margin-left:3px;
    display:inline-block;
    float:none;
    text-align:center;
    align-items:center;
    align-self:center;
    align-content:center;
}


.headercor{
    background-color: #003;
    color: #fff;    
}


checkbox{
    display:inline-block;
    float:none;
    text-align:center;
    align-items:center;
    align-self:center;
    align-content:center;
}
 
 .videoRoboLocal {
      /*width: 100px;      */
 }


.videoRoboRemote{
     /*width: 650px;           */
 }

button {
    border:none;
    display:block;
    padding:0.5em 1em;
    margin:1% auto 0;
    cursor:pointer;
    font-weight: bold;    
    color:#fff;
    background-color:#89b6dc;
}

.meuButton {
    border:none;
    display:block;
    padding:0.5em 1em;
    margin:1% auto 0;
    cursor:pointer;
    font-weight: bold;    
    color:#fff;
    background-color:#89b6dc;
}

body {
    background-color: #e2e2e2;
}



.logo {
    max-width: 20%;
    margin-top: -12px;
    
}

.panel-title{
    background-color: #89b6dc;
    color: #fff;
}

.panel-heading{
    background-color: #89b6dc;    
}