.left-side {
    background-color: #fcfcff;
    float: none;
    display: table-cell;
    /*width: 20%;*/
}

.right-side {
    float: none;
    display: table-cell;
    /*/width: 80%;*/
}

table {
    width: 100%;
}

body {
    background-color: #e2e2e2;
}

.navbar-fixed-top{
    background-color: #d5d5d5;
    color: #fcfcff;
}